## Cleaning Expense Tracking File Export

#### Importing necessary packages:

In [1]:
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)
import datetime
import re

#### Building flexible file path name:

In [2]:
x = datetime.datetime.now()

Y = str(x.year)[2:]
M = str(x.month)
D = str(x.day)

path = str('C:/Users/fede2/OneDrive - University of Miami/1M/1Money_' + M + '_' + D + '_' + Y + '.csv')

#### Defining functions to clean specific columns:

In [3]:
def CleanCategory(c):
    if re.search('\(.*', c):
        pos = re.search('\(.*', c).start()
        return c[pos+1:-1]
    else:
        return c

def CleanSubcategory(c):
    if re.search('\(.*', c):
        pos = re.search('\(.*', c).start()
        return c[:pos]
    else:
        return c

#### Reading in and cleaning daily data:

In [4]:
data = pd.read_csv(path)
data.head()

,DATE,TYPE,FROM ACCOUNT,TO ACCOUNT / TO CATEGORY,AMOUNT,CURRENCY,AMOUNT 2,CURRENCY 2,TAGS,NOTES
0,7/7/20,Expense,Sapphire,Groceries (Publix),137.56,USD,137.56,USD,NaN,NaN
1,7/5/20,Expense,Sapphire,Groceries,9.68,USD,9.68,USD,NaN,7Eleven
2,7/5/20,Transfer,Checking,Visa,78.21,USD,78.21,USD,NaN,NaN
3,7/4/20,Transfer,Checking,Amex,59.50,USD,59.50,USD,NaN,NaN
4,7/3/20,Expense,Sapphire,Groceries (Publix),121.29,USD,121.29,USD,NaN,NaN

In [5]:
# Eliminating summary rows at the end of the csv file
data = data[:-9]

# Renaming columns to keep
data = data.rename(columns={"DATE":"Date",
                             "TYPE":"Type",
                             "FROM ACCOUNT":"Account",
                             "TO ACCOUNT / TO CATEGORY":"Category",
                             "AMOUNT":"Amount",
                             "NOTES":"Notes"})

# Creating Subcategory
data["Subcategory"] = data["Category"]

# Cleaning Category and Subcategory with designated defined functions:
data['Category'] = data['Category'].apply(CleanSubcategory).str.strip()
data['Subcategory'] = data['Subcategory'].apply(CleanCategory).str.strip()

# Removing white spaces and filling nulls
data['Account'] = data['Account'].str.strip()
data['Notes'] = data['Notes'].str.rstrip()
data["Notes"].fillna("NoEntry", inplace=True)

# Selecting the final columns
data = data[["Date", "Type", "Account", "Category", "Subcategory", "Amount", "Notes"]]

#### Writing cleaned dataset to designated csv file:

In [6]:
data.to_csv('C:/Users/fede2/OneDrive - University of Miami/1M/The1M_File/ExpenseTrackingCLEAN.csv', index=False)
data.head()

     Date      Type   Account   Category Subcategory  Amount    Notes
0  7/7/20   Expense  Sapphire  Groceries      Publix  137.56  NoEntry
1  7/5/20   Expense  Sapphire  Groceries   Groceries    9.68  7Eleven
2  7/5/20  Transfer  Checking       Visa        Visa   78.21  NoEntry
3  7/4/20  Transfer  Checking       Amex        Amex   59.50  NoEntry
4  7/3/20   Expense  Sapphire  Groceries      Publix  121.29  NoEntry